* {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
    /*Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif*/
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #f8fafc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body > header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    /*box-shadow: 3px 0 10px #999;*/
    box-shadow: 0 0 18px rgba(0, 0, 0, .06);
    background: rgba(255, 255, 255, 0.85);
}

body > main {
    background: #f8fafc;
    min-height: calc(100vh - 45px);
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 20px 0;
}

body > footer {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    color: #fff;
}

.ng-cloak {
    display: none;
}

.col-xs-space {
    padding-left: 8px;
    padding-right: 8px;
}

.logo-text {
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 6px;
    letter-spacing: 3px;
    /*font-size: 2em;vertical-align:middle;*/
}


.coder {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
}
