* {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
}

.ng-cloak {
    display: none;
}

.title {
    margin: 0;
    color: #fff;
    font-size: 3em;
    padding: 5px 10px;
}

body {
    background: #333;
}

body > header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: #FFEB3B;
    box-shadow: 3px 0 10px #999
}

body > main {
    min-height: 600px;
    padding: 10px 60px;
    margin-top: 60px;
    margin-bottom: 40px;
    background: #fff;
}

body > footer {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
}

.col-xs-space {
    padding-left: 8px;
    padding-right: 8px;
}

.mask-a {
    color: #fff;

}

.mask-a:hover, .mask-a:active, .mask-a:focus {
    text-decoration: none;
    color: #fff;
}

.coder {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
}