@font-face {
    font-family: 'Courier New';
    src: url('assets/Courier New.ttf');
}

* {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

html, body {
    background: #efefef;
    border-radius: 6px;
}


@media (max-width: 768px) {
    #main {
        margin-bottom: 0 !important;
    }

    #footer {
        position: static !important;
        height: auto !important;
    }

    #footer > div {
        height: auto !important;
    }

    .logo-text {
        display: none;
    }
}


#header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #efe3e5;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .05);
    background: #fff;
    background: rgba(255, 255, 255, 0.96);
    transition: all 600ms;
    padding: 0 26px;
}

#main {
    min-height: calc(100vh - 295px);
    margin-bottom: 295px;
    margin-top: 45px;
    border-radius: 0 0 6px 6px;
    box-shadow: rgb(22, 24, 27) 0 10px 10px;
    z-index: 999;
}

#footer {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 295px;
    color: #fff;
    background: #111 url("https://img.alicdn.com/tfs/TB1LfTdZUH1gK0jSZSyXXXtlpXa-2328-2328.svg") no-repeat center -1164px;
    background-size: 2328px 2328px;
    box-shadow: inset 0 30px 30px -15px rgba(33, 33, 33, 0.8);
}

#footer .footer-link {
    font-weight: 400;
    color: hsla(0, 0%, 100%, .5);
}

#footer .footer-link a {
    color: hsla(0, 0%, 100%, .5);
    text-decoration: underline;
}


#header a {
    color: #808695;
}

#header a:hover, #header a:focus, #header a:active {
    text-decoration: none;
}


.ng-cloak {
    display: none;
}

.col-xs-space {
    padding-left: 8px;
    padding-right: 8px;
}

.logo-text {
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 6px;
    letter-spacing: 3px;
}


.coder {
    font-family: Courier New, Menlo, Monaco, Consolas, monospace;
}


.card {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
}


.token.operator {
    background: none !important;
}


.annotation {
    color: #FFEB3B !important;
}

.active-link {
    color: #000 !important;
    font-weight: 600;
}


.delay-1 {
    animation-delay: 300ms;
}

.delay-2 {
    animation-delay: 600ms;
}

.delay-3 {
    animation-delay: 900ms;
}

.delay-4 {
    animation-delay: 1200ms;
}

.delay-5 {
    animation-delay: 1500ms;
}

.delay-6 {
    animation-delay: 1500ms;
}
