.ng-cloak {
    display: none;
}

.title {
    margin: 0;
    color: #fff;
    font-size: 4em;
    padding: 15px 0;
}

body {
    font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.col-xs-space {
    padding-left: 8px;
    padding-right: 8px;
}

.mask-a {
    color: #fff;

}

.mask-a:hover, .mask-a:active, .mask-a:focus {
    text-decoration: none;
    color: #fff;
}